<form [formGroup]="form">
  <div class="row">
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Matrícula</mat-label>
        <input matInput formControlName="matricula" maxlength="20" />
        <mat-error *ngIf="form.get('matricula')?.hasError('maxlength')"> Matrícula deve ter no máximo 20 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Certidão de Nascimento</mat-label>
        <input matInput formControlName="certidao" maxlength="50" />
        <mat-error *ngIf="form.get('certidao')?.hasError('maxlength')"> Certidão deve ter no máximo 50 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Termo</mat-label>
        <input matInput formControlName="termo" maxlength="50" />
        <mat-error *ngIf="form.get('termo')?.hasError('maxlength')"> Termo deve ter no máximo 50 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Cartório</mat-label>
        <input matInput formControlName="cartorio" maxlength="100" />
        <mat-error *ngIf="form.get('cartorio')?.hasError('maxlength')"> Cartório deve ter no máximo 100 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Naturalidade</mat-label>
        <input matInput formControlName="naturalidade" maxlength="100" />
        <mat-error *ngIf="form.get('naturalidade')?.hasError('maxlength')"> Naturalidade deve ter no máximo 100 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>RG</mat-label>
        <input matInput formControlName="rg" maxlength="20" />
        <mat-error *ngIf="form.get('rg')?.hasError('maxlength')"> RG deve ter no máximo 20 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" required maxlength="14" />
        <mat-error *ngIf="form.get('cpf')?.hasError('required') && form.get('cpf')?.touched"> CPF é obrigatório. </mat-error>
        <mat-error *ngIf="form.get('cpf')?.hasError('maxlength')"> CPF deve ter no máximo 14 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>NIS</mat-label>
        <input matInput formControlName="nis" maxlength="15" />
        <mat-error *ngIf="form.get('nis')?.hasError('maxlength')"> NIS deve ter no máximo 15 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>CRAS</mat-label>
        <input matInput formControlName="cras" maxlength="100" />
        <mat-error *ngIf="form.get('cras')?.hasError('maxlength')"> CRAS deve ter no máximo 100 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
