<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (responsavel(); as responsavelRef) {
      <div>
        <h2 data-cy="responsavelDetailsHeading"><span jhiTranslate="cadastroaluno1App.responsavel.detail.title">Responsavel</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ responsavelRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="cadastroaluno1App.responsavel.nome">Nome</span></dt>
          <dd>
            <span>{{ responsavelRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="cadastroaluno1App.responsavel.parentesco">Parentesco</span></dt>
          <dd>
            <span>{{ responsavelRef.parentesco }}</span>
          </dd>
          <dt><span jhiTranslate="cadastroaluno1App.responsavel.cadastroAluno">Cadastro Aluno</span></dt>
          <dd>
            @if (responsavel()!.cadastroAluno) {
              <div>
                <a [routerLink]="['/cadastro-aluno', responsavel()!.cadastroAluno?.id, 'view']">{{ responsavelRef.cadastroAluno?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/responsavel', responsavelRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
