<form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Nome da Escola</mat-label>
        <input matInput formControlName="nomeEscola" maxlength="255" />
        <mat-error *ngIf="form.get('nomeEscola')?.hasError('maxlength')"> Nome da Escola deve ter no máximo 255 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Ano Cursando</mat-label>
        <input matInput formControlName="anoCursando" maxlength="50" />
        <mat-error *ngIf="form.get('anoCursando')?.hasError('maxlength')"> Ano Cursando deve ter no máximo 50 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="turno" required>
          <mat-option value="MATUTINO">Matutino</mat-option>
          <mat-option value="VESPERTINO">Vespertino</mat-option>
          <mat-option value="NOTURNO">Noturno</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('turno')?.hasError('required')"> O turno é obrigatório. </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Média Escolar</mat-label>
        <input matInput formControlName="mediaEscolar" required min="0" max="10" type="number" />
        <mat-error *ngIf="form.get('mediaEscolar')?.hasError('min')"> A média deve ser maior ou igual a 0. </mat-error>
        <mat-error *ngIf="form.get('mediaEscolar')?.hasError('max')"> A média deve ser menor ou igual a 10. </mat-error>
        <mat-error *ngIf="form.get('mediaEscolar')?.hasError('required')"> A média escolar é obrigatória. </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
