<div [formGroup]="form">
  <h3>Deslocamento</h3>
  <div formArrayName="deslocamentos">
    <div *ngFor="let deslocamento of deslocamentos.controls; let i = index" [formGroupName]="i" class="deslocamento-item">
      <h4>Deslocamento {{ i + 1 }}</h4>
      <div class="row">
        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required />
          <mat-error *ngIf="deslocamento.get('nome')?.hasError('required') && deslocamento.get('nome')?.touched">
            Nome é obrigatório.
          </mat-error>
          <mat-error *ngIf="deslocamento.get('nome')?.hasError('maxlength')"> Nome deve ter no máximo 255 caracteres. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>Grau</mat-label>
          <input matInput formControlName="grau" required />
          <mat-error *ngIf="deslocamento.get('grau')?.hasError('required') && deslocamento.get('grau')?.touched">
            Grau é obrigatório.
          </mat-error>
          <mat-error *ngIf="deslocamento.get('grau')?.hasError('maxlength')"> Grau deve ter no máximo 50 caracteres. </mat-error>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-icon-button color="warn" (click)="removeDeslocamento(i)" *ngIf="deslocamentos.controls.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button mat-raised-button color="accent" (click)="addDeslocamento()"><mat-icon>add</mat-icon> Adicionar Deslocamento</button>
  </div>
</div>
