<form [formGroup]="form">
  <div class="row">
    <!-- Nome do Pai -->
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Nome do Pai</mat-label>
        <input matInput formControlName="filiacaoPai" maxlength="255" />
        <mat-error *ngIf="form.get('filiacaoPai')?.hasError('maxlength')"> Nome do Pai deve ter no máximo 255 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <!-- Telefone do Pai -->
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Telefone do Pai</mat-label>
        <input matInput formControlName="paiTelefone" maxlength="15" />
        <mat-error *ngIf="form.get('paiTelefone')?.hasError('maxlength')"> Telefone do Pai deve ter no máximo 15 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <!-- Naturalidade do Pai -->
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Naturalidade do Pai</mat-label>
        <input matInput formControlName="paiNaturalidade" maxlength="255" />
        <mat-error *ngIf="form.get('paiNaturalidade')?.hasError('maxlength')"> Naturalidade do Pai muito longa. </mat-error>
      </mat-form-field>
    </div>

    <!-- UF do Pai -->
    <div class="col-md-1">
      <mat-form-field appearance="fill">
        <mat-label>UF do Pai</mat-label>
        <input matInput formControlName="paiUf" maxlength="2" />
        <mat-error *ngIf="form.get('paiUf')?.hasError('maxlength')"> UF do Pai deve ter no máximo 2 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <!-- RG do Pai -->
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>RG do Pai</mat-label>
        <input matInput formControlName="paiRg" maxlength="20" />
        <mat-error *ngIf="form.get('paiRg')?.hasError('maxlength')"> RG do Pai deve ter no máximo 20 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <!-- Data Nascimento Pai -->
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento do Pai</mat-label>
        <input matInput [matDatepicker]="pickerPaiDataNascimento" formControlName="paiDataNascimento" />
        <mat-datepicker-toggle matSuffix [for]="pickerPaiDataNascimento"></mat-datepicker-toggle>
        <mat-datepicker #pickerPaiDataNascimento></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- CPF do Pai -->
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>CPF do Pai</mat-label>
        <input matInput formControlName="paiCpf" maxlength="14" />
        <mat-error *ngIf="form.get('paiCpf')?.hasError('maxlength')"> CPF do Pai deve ter no máximo 14 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <!-- NIS do Pai -->
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>NIS do Pai</mat-label>
        <input matInput formControlName="paiNis" maxlength="15" />
        <mat-error *ngIf="form.get('paiNis')?.hasError('maxlength')"> NIS do Pai deve ter no máximo 15 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Título de Eleitor do Pai</mat-label>
        <input matInput formControlName="paiTituloEleitor" maxlength="20" />
        <mat-error *ngIf="form.get('paiTituloEleitor')?.hasError('maxlength')"> Título de Eleitor do Pai muito longo. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Zona do Pai</mat-label>
        <input matInput formControlName="paiZona" maxlength="10" />
        <mat-error *ngIf="form.get('paiZona')?.hasError('maxlength')"> Zona do Pai deve ter no máximo 10 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Seção do Pai</mat-label>
        <input matInput formControlName="paiSecao" maxlength="10" />
        <mat-error *ngIf="form.get('paiSecao')?.hasError('maxlength')"> Seção do Pai deve ter no máximo 10 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- MÃE -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Nome da Mãe</mat-label>
        <input matInput formControlName="filiacaoMae" required maxlength="255" />
        <mat-error *ngIf="form.get('filiacaoMae')?.hasError('required') && form.get('filiacaoMae')?.touched">
          Nome da Mãe é obrigatório.
        </mat-error>
        <mat-error *ngIf="form.get('filiacaoMae')?.hasError('maxlength')"> Nome da Mãe deve ter no máximo 255 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Telefone da Mãe</mat-label>
        <input matInput formControlName="maeTelefone" maxlength="15" />
        <mat-error *ngIf="form.get('maeTelefone')?.hasError('maxlength')"> Telefone da Mãe deve ter no máximo 15 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Naturalidade da Mãe</mat-label>
        <input matInput formControlName="maeNaturalidade" maxlength="255" />
        <mat-error *ngIf="form.get('maeNaturalidade')?.hasError('maxlength')"> Naturalidade da Mãe muito longa. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-1">
      <mat-form-field appearance="fill">
        <mat-label>UF da Mãe</mat-label>
        <input matInput formControlName="maeUf" maxlength="2" />
        <mat-error *ngIf="form.get('maeUf')?.hasError('maxlength')"> UF da Mãe deve ter no máximo 2 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>RG da Mãe</mat-label>
        <input matInput formControlName="maeRg" maxlength="20" />
        <mat-error *ngIf="form.get('maeRg')?.hasError('maxlength')"> RG da Mãe deve ter no máximo 20 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento da Mãe</mat-label>
        <input matInput [matDatepicker]="pickerMaeDataNascimento" formControlName="maeDataNascimento" />
        <mat-datepicker-toggle matSuffix [for]="pickerMaeDataNascimento"></mat-datepicker-toggle>
        <mat-datepicker #pickerMaeDataNascimento></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>CPF da Mãe</mat-label>
        <input matInput formControlName="maeCpf" maxlength="14" />
        <mat-error *ngIf="form.get('maeCpf')?.hasError('maxlength')"> CPF da Mãe deve ter no máximo 14 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>NIS da Mãe</mat-label>
        <input matInput formControlName="maeNis" maxlength="15" />
        <mat-error *ngIf="form.get('maeNis')?.hasError('maxlength')"> NIS da Mãe deve ter no máximo 15 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Título de Eleitor da Mãe</mat-label>
        <input matInput formControlName="maeTituloEleitor" maxlength="20" />
        <mat-error *ngIf="form.get('maeTituloEleitor')?.hasError('maxlength')"> Título de Eleitor da Mãe muito longo. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Zona da Mãe</mat-label>
        <input matInput formControlName="maeZona" maxlength="10" />
        <mat-error *ngIf="form.get('maeZona')?.hasError('maxlength')"> Zona da Mãe deve ter no máximo 10 caracteres. </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Seção da Mãe</mat-label>
        <input matInput formControlName="maeSecao" maxlength="10" />
        <mat-error *ngIf="form.get('maeSecao')?.hasError('maxlength')"> Seção da Mãe deve ter no máximo 10 caracteres. </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
