<form [formGroup]="form">
  <div *ngFor="let responsavel of responsaveis.controls; let i = index" [formGroupName]="i" class="responsavel-item">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required maxlength="255" />
          <mat-error *ngIf="responsavel.get('nome')?.hasError('required') && responsavel.get('nome')?.touched">
            Nome do Responsável é obrigatório.
          </mat-error>
          <mat-error *ngIf="responsavel.get('nome')?.hasError('maxlength')"> Nome deve ter no máximo 255 caracteres. </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Parentesco</mat-label>
          <input matInput formControlName="parentesco" required maxlength="50" />
          <mat-error *ngIf="responsavel.get('parentesco')?.hasError('required') && responsavel.get('parentesco')?.touched">
            Parentesco é obrigatório.
          </mat-error>
          <mat-error *ngIf="responsavel.get('parentesco')?.hasError('maxlength')"> Parentesco deve ter no máximo 50 caracteres. </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-2 d-flex align-items-center">
        <button mat-icon-button color="warn" (click)="removeResponsavel(i)" *ngIf="responsaveis.controls.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <button mat-raised-button color="accent" type="button" (click)="addResponsavel()"><mat-icon>add</mat-icon> Adicionar Responsável</button>
</form>
