<div [formGroup]="form">
  <h3>Responsáveis</h3>
  <div formArrayName="responsaveis">
    <div *ngFor="let responsavel of responsaveis.controls; let i = index" [formGroupName]="i" class="responsavel-item">
      <h4>Responsável {{ i + 1 }}</h4>
      <div class="row">
        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required />
          <mat-error *ngIf="responsavel.get('nome')?.hasError('required') && responsavel.get('nome')?.touched">
            Nome é obrigatório.
          </mat-error>
          <mat-error *ngIf="responsavel.get('nome')?.hasError('maxlength')"> Nome deve ter no máximo 255 caracteres. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>Parentesco</mat-label>
          <input matInput formControlName="parentesco" required />
          <mat-error *ngIf="responsavel.get('parentesco')?.hasError('required') && responsavel.get('parentesco')?.touched">
            Parentesco é obrigatório.
          </mat-error>
          <mat-error *ngIf="responsavel.get('parentesco')?.hasError('maxlength')"> Parentesco deve ter no máximo 50 caracteres. </mat-error>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-icon-button color="warn" (click)="removeResponsavel(i)" *ngIf="responsaveis.controls.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button mat-raised-button color="accent" (click)="addResponsavel()"><mat-icon>add</mat-icon> Adicionar Responsável</button>
  </div>
</div>
