<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (deslocamento(); as deslocamentoRef) {
      <div>
        <h2 data-cy="deslocamentoDetailsHeading"><span jhiTranslate="cadastroaluno1App.deslocamento.detail.title">Deslocamento</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ deslocamentoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="cadastroaluno1App.deslocamento.nome">Nome</span></dt>
          <dd>
            <span>{{ deslocamentoRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="cadastroaluno1App.deslocamento.grau">Grau</span></dt>
          <dd>
            <span>{{ deslocamentoRef.grau }}</span>
          </dd>
          <dt><span jhiTranslate="cadastroaluno1App.deslocamento.cadastroAluno">Cadastro Aluno</span></dt>
          <dd>
            @if (deslocamento()!.cadastroAluno) {
              <div>
                <a [routerLink]="['/cadastro-aluno', deslocamento()!.cadastroAluno?.id, 'view']">{{ deslocamentoRef.cadastroAluno?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/deslocamento', deslocamentoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
