<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cadastro-aluno-heading" data-cy="CadastroAlunoCreateUpdateHeading">Cadastro de Aluno</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <mat-form-field appearance="outline">
          <mat-label>Data Cadastro</mat-label>
          <input matInput [matDatepicker]="dataCadastro" formControlName="dataCadastro" required />
          <mat-datepicker-toggle matSuffix [for]="dataCadastro"></mat-datepicker-toggle>
          <mat-datepicker #dataCadastro></mat-datepicker>
          <mat-error *ngIf="editForm.get('dataCadastro')!.invalid && editForm.get('dataCadastro')!.touched">
            Data de Cadastro é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Matricula</mat-label>
          <input matInput formControlName="matricula" maxlength="20" />
          <mat-error *ngIf="editForm.get('matricula')!.invalid && editForm.get('matricula')!.touched"> Matrícula inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Grupo</mat-label>
          <input matInput formControlName="grupo" maxlength="50" />
          <mat-error *ngIf="editForm.get('grupo')!.invalid && editForm.get('grupo')!.touched"> Grupo inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required maxlength="255" />
          <mat-error *ngIf="editForm.get('nome')!.invalid && editForm.get('nome')!.touched"> Nome é obrigatório. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="dn" formControlName="dn" required />
          <mat-datepicker-toggle matSuffix [for]="dn"></mat-datepicker-toggle>
          <mat-datepicker #dn></mat-datepicker>
          <mat-error *ngIf="editForm.get('dn')!.invalid && editForm.get('dn')!.touched"> Data de Nascimento é obrigatória. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" required minlength="8" maxlength="9" pattern="^\d{5}-\d{3}$" />
          <mat-error *ngIf="editForm.get('cep')!.invalid && editForm.get('cep')!.touched"> CEP inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Endereco</mat-label>
          <input matInput formControlName="endereco" required maxlength="255" />
          <mat-error *ngIf="editForm.get('endereco')!.invalid && editForm.get('endereco')!.touched"> Endereço é obrigatório. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>QD</mat-label>
          <input matInput formControlName="qd" maxlength="10" />
          <mat-error *ngIf="editForm.get('qd')!.invalid && editForm.get('qd')!.touched"> Quadra inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Lote</mat-label>
          <input matInput formControlName="lote" maxlength="10" />
          <mat-error *ngIf="editForm.get('lote')!.invalid && editForm.get('lote')!.touched"> Lote inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Endnumero</mat-label>
          <input matInput formControlName="endnumero" maxlength="10" />
          <mat-error *ngIf="editForm.get('endnumero')!.invalid && editForm.get('endnumero')!.touched">
            Número do endereço inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" maxlength="100" />
          <mat-error *ngIf="editForm.get('bairro')!.invalid && editForm.get('bairro')!.touched"> Bairro inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Municipio</mat-label>
          <input matInput formControlName="municipio" maxlength="100" />
          <mat-error *ngIf="editForm.get('municipio')!.invalid && editForm.get('municipio')!.touched"> Município inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>UF</mat-label>
          <input matInput formControlName="uf" maxlength="2" />
          <mat-error *ngIf="editForm.get('uf')!.invalid && editForm.get('uf')!.touched"> UF inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone" required minlength="10" maxlength="15" pattern="^(\d{2})\s(\d{4,5})-\d{4}$" />
          <mat-error *ngIf="editForm.get('telefone')!.invalid && editForm.get('telefone')!.touched"> Telefone inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Certidao</mat-label>
          <input matInput formControlName="certidao" maxlength="50" />
          <mat-error *ngIf="editForm.get('certidao')!.invalid && editForm.get('certidao')!.touched"> Certidão inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Termo</mat-label>
          <input matInput formControlName="termo" maxlength="50" />
          <mat-error *ngIf="editForm.get('termo')!.invalid && editForm.get('termo')!.touched"> Termo inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cartorio</mat-label>
          <input matInput formControlName="cartorio" maxlength="100" />
          <mat-error *ngIf="editForm.get('cartorio')!.invalid && editForm.get('cartorio')!.touched"> Cartório inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Naturalidade</mat-label>
          <input matInput formControlName="naturalidade" maxlength="100" />
          <mat-error *ngIf="editForm.get('naturalidade')!.invalid && editForm.get('naturalidade')!.touched">
            Naturalidade inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>RG</mat-label>
          <input matInput formControlName="rg" maxlength="20" />
          <mat-error *ngIf="editForm.get('rg')!.invalid && editForm.get('rg')!.touched"> RG inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" required minlength="11" maxlength="14" pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$" />
          <mat-error *ngIf="editForm.get('cpf')!.invalid && editForm.get('cpf')!.touched"> CPF inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>NIS</mat-label>
          <input matInput formControlName="nis" maxlength="15" />
          <mat-error *ngIf="editForm.get('nis')!.invalid && editForm.get('nis')!.touched"> NIS inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CRAS</mat-label>
          <input matInput formControlName="cras" maxlength="100" />
          <mat-error *ngIf="editForm.get('cras')!.invalid && editForm.get('cras')!.touched"> CRAS inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome do Pai</mat-label>
          <input matInput formControlName="filiacaoPai" maxlength="255" />
          <mat-error *ngIf="editForm.get('filiacaoPai')!.invalid && editForm.get('filiacaoPai')!.touched">
            Nome do Pai inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone do Pai</mat-label>
          <input matInput formControlName="paiTelefone" maxlength="15" />
          <mat-error *ngIf="editForm.get('paiTelefone')!.invalid && editForm.get('paiTelefone')!.touched">
            Telefone do Pai inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Naturalidade do Pai</mat-label>
          <input matInput formControlName="paiNaturalidade" maxlength="100" />
          <mat-error *ngIf="editForm.get('paiNaturalidade')!.invalid && editForm.get('paiNaturalidade')!.touched">
            Naturalidade do Pai inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>UF do Pai</mat-label>
          <input matInput formControlName="paiUf" maxlength="2" />
          <mat-error *ngIf="editForm.get('paiUf')!.invalid && editForm.get('paiUf')!.touched"> UF do Pai inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>RG do Pai</mat-label>
          <input matInput formControlName="paiRg" maxlength="20" />
          <mat-error *ngIf="editForm.get('paiRg')!.invalid && editForm.get('paiRg')!.touched"> RG do Pai inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento do Pai</mat-label>
          <input matInput [matDatepicker]="paiDataNascimento" formControlName="paiDataNascimento" />
          <mat-datepicker-toggle matSuffix [for]="paiDataNascimento"></mat-datepicker-toggle>
          <mat-datepicker #paiDataNascimento></mat-datepicker>
          <mat-error *ngIf="editForm.get('paiDataNascimento')!.invalid && editForm.get('paiDataNascimento')!.touched">
            Data de Nascimento do Pai inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF do Pai</mat-label>
          <input matInput formControlName="paiCpf" minlength="11" maxlength="14" pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$" />
          <mat-error *ngIf="editForm.get('paiCpf')!.invalid && editForm.get('paiCpf')!.touched"> CPF do Pai inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>NIS do Pai</mat-label>
          <input matInput formControlName="paiNis" maxlength="15" />
          <mat-error *ngIf="editForm.get('paiNis')!.invalid && editForm.get('paiNis')!.touched"> NIS do Pai inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Título de Eleitor do Pai</mat-label>
          <input matInput formControlName="paiTituloEleitor" maxlength="20" />
          <mat-error *ngIf="editForm.get('paiTituloEleitor')!.invalid && editForm.get('paiTituloEleitor')!.touched">
            Título de Eleitor do Pai inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Zona Eleitoral do Pai</mat-label>
          <input matInput formControlName="paiZona" maxlength="10" />
          <mat-error *ngIf="editForm.get('paiZona')!.invalid && editForm.get('paiZona')!.touched">
            Zona Eleitoral do Pai inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Seção Eleitoral do Pai</mat-label>
          <input matInput formControlName="paiSecao" maxlength="10" />
          <mat-error *ngIf="editForm.get('paiSecao')!.invalid && editForm.get('paiSecao')!.touched">
            Seção Eleitoral do Pai inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Município do Título de Eleitor do Pai</mat-label>
          <input matInput formControlName="paiMunicipio" maxlength="100" />
          <mat-error *ngIf="editForm.get('paiMunicipio')!.invalid && editForm.get('paiMunicipio')!.touched">
            Município do Título de Eleitor do Pai inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome da Mãe</mat-label>
          <input matInput formControlName="filiacaoMae" required maxlength="255" />
          <mat-error *ngIf="editForm.get('filiacaoMae')!.invalid && editForm.get('filiacaoMae')!.touched">
            Nome da Mãe é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone da Mãe</mat-label>
          <input matInput formControlName="maeTelefone" maxlength="15" />
          <mat-error *ngIf="editForm.get('maeTelefone')!.invalid && editForm.get('maeTelefone')!.touched">
            Telefone da Mãe inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Naturalidade da Mãe</mat-label>
          <input matInput formControlName="maeNaturalidade" maxlength="100" />
          <mat-error *ngIf="editForm.get('maeNaturalidade')!.invalid && editForm.get('maeNaturalidade')!.touched">
            Naturalidade da Mãe inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>UF da Mãe</mat-label>
          <input matInput formControlName="maeUf" maxlength="2" />
          <mat-error *ngIf="editForm.get('maeUf')!.invalid && editForm.get('maeUf')!.touched"> UF da Mãe inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>RG da Mãe</mat-label>
          <input matInput formControlName="maeRg" maxlength="20" />
          <mat-error *ngIf="editForm.get('maeRg')!.invalid && editForm.get('maeRg')!.touched"> RG da Mãe inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento da Mãe</mat-label>
          <input matInput [matDatepicker]="maeDataNascimento" formControlName="maeDataNascimento" />
          <mat-datepicker-toggle matSuffix [for]="maeDataNascimento"></mat-datepicker-toggle>
          <mat-datepicker #maeDataNascimento></mat-datepicker>
          <mat-error *ngIf="editForm.get('maeDataNascimento')!.invalid && editForm.get('maeDataNascimento')!.touched">
            Data de Nascimento da Mãe inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF da Mãe</mat-label>
          <input matInput formControlName="maeCpf" minlength="11" maxlength="14" pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$" />
          <mat-error *ngIf="editForm.get('maeCpf')!.invalid && editForm.get('maeCpf')!.touched"> CPF da Mãe inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>NIS da Mãe</mat-label>
          <input matInput formControlName="maeNis" maxlength="15" />
          <mat-error *ngIf="editForm.get('maeNis')!.invalid && editForm.get('maeNis')!.touched"> NIS da Mãe inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Título de Eleitor da Mãe</mat-label>
          <input matInput formControlName="maeTituloEleitor" maxlength="20" />
          <mat-error *ngIf="editForm.get('maeTituloEleitor')!.invalid && editForm.get('maeTituloEleitor')!.touched">
            Título de Eleitor da Mãe inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Zona Eleitoral da Mãe</mat-label>
          <input matInput formControlName="maeZona" maxlength="10" />
          <mat-error *ngIf="editForm.get('maeZona')!.invalid && editForm.get('maeZona')!.touched">
            Zona Eleitoral da Mãe inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Seção Eleitoral da Mãe</mat-label>
          <input matInput formControlName="maeSecao" maxlength="10" />
          <mat-error *ngIf="editForm.get('maeSecao')!.invalid && editForm.get('maeSecao')!.touched">
            Seção Eleitoral da Mãe inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Município do Título de Eleitor da Mãe</mat-label>
          <input matInput formControlName="maeMunicipio" maxlength="100" />
          <mat-error *ngIf="editForm.get('maeMunicipio')!.invalid && editForm.get('maeMunicipio')!.touched">
            Município do Título de Eleitor da Mãe inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome da Escola</mat-label>
          <input matInput formControlName="nomeEscola" maxlength="255" />
          <mat-error *ngIf="editForm.get('nomeEscola')!.invalid && editForm.get('nomeEscola')!.touched">
            Nome da Escola inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ano Cursando</mat-label>
          <input matInput formControlName="anoCursando" maxlength="50" />
          <mat-error *ngIf="editForm.get('anoCursando')!.invalid && editForm.get('anoCursando')!.touched">
            Ano Cursando inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Turno</mat-label>
          <mat-select formControlName="turno">
            <mat-option *ngFor="let turno of turnoValues" [value]="turno">
              {{ turno }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('turno')!.invalid && editForm.get('turno')!.touched"> Turno inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Média Escolar</mat-label>
          <input matInput type="number" formControlName="mediaEscolar" />
          <mat-error *ngIf="editForm.get('mediaEscolar')!.invalid && editForm.get('mediaEscolar')!.touched">
            Média Escolar inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Prioritário</mat-label>
          <mat-select formControlName="prioritario">
            <mat-option *ngFor="let simNao of simNaoValues" [value]="simNao">
              {{ simNao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('prioritario')!.invalid && editForm.get('prioritario')!.touched">
            Prioritário inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Observações</mat-label>
          <textarea matInput formControlName="obs" maxlength="5000"></textarea>
          <mat-error *ngIf="editForm.get('obs')!.invalid && editForm.get('obs')!.touched"> Observações inválidas. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Comportamento em Casa</mat-label>
          <mat-select formControlName="comportamentoCasa">
            <mat-option *ngFor="let comportamento of comportamentoValues" [value]="comportamento">
              {{ comportamento }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('comportamentoCasa')!.invalid && editForm.get('comportamentoCasa')!.touched">
            Comportamento em Casa inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Comportamento na Escola</mat-label>
          <mat-select formControlName="comportamentoEscola">
            <mat-option *ngFor="let comportamento of comportamentoValues" [value]="comportamento">
              {{ comportamento }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('comportamentoEscola')!.invalid && editForm.get('comportamentoEscola')!.touched">
            Comportamento na Escola inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Possui Deficiência?</mat-label>
          <mat-select formControlName="deficiencia">
            <mat-option *ngFor="let simNao of simNaoValues" [value]="simNao">
              {{ simNao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('deficiencia')!.invalid && editForm.get('deficiencia')!.touched"> Resposta inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Necessita Adaptações?</mat-label>
          <mat-select formControlName="adaptacoes">
            <mat-option *ngFor="let simNao of simNaoValues" [value]="simNao">
              {{ simNao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('adaptacoes')!.invalid && editForm.get('adaptacoes')!.touched"> Resposta inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Toma Medicação?</mat-label>
          <mat-select formControlName="medicacao">
            <mat-option *ngFor="let simNao of simNaoValues" [value]="simNao">
              {{ simNao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('medicacao')!.invalid && editForm.get('medicacao')!.touched"> Resposta inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição da Medicação</mat-label>
          <textarea matInput formControlName="medicacaoDesc" maxlength="5000"></textarea>
          <mat-error *ngIf="editForm.get('medicacaoDesc')!.invalid && editForm.get('medicacaoDesc')!.touched">
            Descrição da Medicação inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Possui Alergia?</mat-label>
          <mat-select formControlName="alergia">
            <mat-option *ngFor="let simNao of simNaoValues" [value]="simNao">
              {{ simNao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('alergia')!.invalid && editForm.get('alergia')!.touched"> Resposta inválida. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição da Alergia</mat-label>
          <textarea matInput formControlName="alergiaDesc" maxlength="5000"></textarea>
          <mat-error *ngIf="editForm.get('alergiaDesc')!.invalid && editForm.get('alergiaDesc')!.touched">
            Descrição da Alergia inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Histórico Médico</mat-label>
          <textarea matInput formControlName="historicoMedico" maxlength="5000"></textarea>
          <mat-error *ngIf="editForm.get('historicoMedico')!.invalid && editForm.get('historicoMedico')!.touched">
            Histórico Médico inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Renda Familiar</mat-label>
          <input matInput formControlName="rendaFamiliar" maxlength="20" />
          <mat-error *ngIf="editForm.get('rendaFamiliar')!.invalid && editForm.get('rendaFamiliar')!.touched">
            Renda Familiar inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pessoas que Trabalham</mat-label>
          <input matInput type="number" formControlName="pessoasTrabalham" />
          <mat-error *ngIf="editForm.get('pessoasTrabalham')!.invalid && editForm.get('pessoasTrabalham')!.touched">
            Número inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número de Pessoas no Lar</mat-label>
          <input matInput type="number" formControlName="numPessoasLar" />
          <mat-error *ngIf="editForm.get('numPessoasLar')!.invalid && editForm.get('numPessoasLar')!.touched"> Número inválido. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Recebe Benefício Social?</mat-label>
          <mat-select formControlName="beneficioSocial">
            <mat-option *ngFor="let simNao of simNaoValues" [value]="simNao">
              {{ simNao }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('beneficioSocial')!.invalid && editForm.get('beneficioSocial')!.touched">
            Resposta inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Benefícios</mat-label>
          <textarea matInput formControlName="beneficios" maxlength="5000"></textarea>
          <mat-error *ngIf="editForm.get('beneficios')!.invalid && editForm.get('beneficios')!.touched"> Benefícios inválidos. </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo de Residência</mat-label>
          <mat-select formControlName="tipoResidencia">
            <mat-option *ngFor="let tipoResidencia of tipoResidenciaValues" [value]="tipoResidencia">
              {{ tipoResidencia }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('tipoResidencia')!.invalid && editForm.get('tipoResidencia')!.touched">
            Tipo de Residência inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição do Tipo de Residência (se outro)</mat-label>
          <input matInput formControlName="tipoResidenciaDesc" maxlength="100" />
          <mat-error *ngIf="editForm.get('tipoResidenciaDesc')!.invalid && editForm.get('tipoResidenciaDesc')!.touched">
            Descrição inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Situação da Residência</mat-label>
          <mat-select formControlName="situacaoResidencia">
            <mat-option *ngFor="let situacaoResidencia of situacaoResidenciaValues" [value]="situacaoResidencia">
              {{ situacaoResidencia }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('situacaoResidencia')!.invalid && editForm.get('situacaoResidencia')!.touched">
            Situação da Residência inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descrição da Situação da Residência (se outra)</mat-label>
          <input matInput formControlName="situacaoResidenciaDesc" maxlength="100" />
          <mat-error *ngIf="editForm.get('situacaoResidenciaDesc')!.invalid && editForm.get('situacaoResidenciaDesc')!.touched">
            Descrição inválida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contato de Emergência</mat-label>
          <input matInput formControlName="contatoEmergencia" required maxlength="255" />
          <mat-error *ngIf="editForm.get('contatoEmergencia')!.invalid && editForm.get('contatoEmergencia')!.touched">
            Contato de Emergência é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone de Emergência</mat-label>
          <input matInput formControlName="foneEmergencia" required minlength="10" maxlength="15" pattern="^(\d{2})\s(\d{4,5})-\d{4}$" />
          <mat-error *ngIf="editForm.get('foneEmergencia')!.invalid && editForm.get('foneEmergencia')!.touched">
            Telefone de Emergência inválido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Relação com o Contato de Emergência</mat-label>
          <input matInput formControlName="relacaoEmergencia" required maxlength="50" />
          <mat-error *ngIf="editForm.get('relacaoEmergencia')!.invalid && editForm.get('relacaoEmergencia')!.touched">
            Relação inválida.
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="autorizacao">Autorização para Sair Sozinho</mat-checkbox>

        <div class="mt-3">
          <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid || isSaving">
            <mat-icon>save</mat-icon> Salvar
          </button>
          <button mat-raised-button color="warn" type="button" (click)="previousState()"><mat-icon>cancel</mat-icon> Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
